<div class="card m-1">
    <img height="250" width="300" style="border-radius:2rem" [src]="hero.image" class="card-img-top" alt="...">
    <div class="card-body text-white">
        <h3 class="card-text text-center" style="font-weight: bold;">{{hero.superhero}}</h3>
        <p class="card-text text-center">{{hero.publisher}}</p>
        <p class="card-text text-center">{{hero.first_appearance}}</p>
    </div>
</div>
