
<header>
  <nav id="#navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-link" [routerLink]="['marvel']" routerLinkActive="router-link-active" >Marvel</a>
        <a class="nav-link" [routerLink]="['dc']" routerLinkActive="router-link-active" >DC</a>
        <a class="nav-link" [routerLink]="['about']" routerLinkActive="router-link-active" >Acerca de</a>
      </div>
    </div>
  </nav>
</header>

  <main style="background-color: #EEE5DA;">
    <router-outlet></router-outlet>
  </main>

