
<div class="container">
  <h1 class="text-center">Heroes de Marvel</h1>
  <div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="row mt-3">
    <div *ngIf="heroes.length === 0" class="col">
        <div class="title-align not-found">
            <span class="ml-2">No se encontraron resultados</span>
        </div>
    </div>
    <div *ngFor="let hero of heroes" class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <app-hero-card [hero] = "hero"></app-hero-card>
    </div>
</div>

</div>