/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", "Helvetica Neue", sans-serif; }
h1,p,h2,a,h4,h5,h3{
    font-family: "Poppins";
}